*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    background-color: rgba(253, 206, 145, 0.945);
}
@font-face {
    font-family: avengers;
    src: url(./AvengeanceMightiestAvenger-837g.ttf);
}
@font-face {
    font-family: avengers1;
    src: url(./AvengeanceHeroicAvengerBold-Odze.otf);
}
#box1{
    height: 300px;
    width: 300px;
    border-radius: 10px;
   position: relative;
   overflow: hidden;
    font-family: avengers;
}
#box1>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.bottom{
    height: 80%;
    width: 100%;
    padding-bottom: 30px;
    color: aliceblue;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient( transparent, black);
    bottom: -80%;
    transition: all 0.5s ease;
     font-family: avengers;
   
}
button{
    margin-top: 180px;
    height: 35px;
    width: 85px;
    color: white;
    border: 2px solid aqua;
    border-radius: 20px;
    background-color: aqua;
     font-family: avengers;
}
#box1:hover .bottom{
    bottom: 0;
    
}

button:hover {
    color: aqua;
    background-color: aliceblue;
    cursor: pointer;
}
button:hover a{
    color: aqua;
    background-color: aliceblue;
    cursor: pointer;
}
a{
    text-decoration: none;
     font-style: avengers;
     color: white;
}
#box1 h2{
    position: absolute;
    top: 150px;
     font-family: avengers;
}
#nav{
    height: 90px;
    width: 100%;
    background-color: rgb(207, 73, 73);
    text-align: center;
    padding-top: 20px;
    font-family: avengers1;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    
}
#icon1{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    
}
#icon2{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 10%;
}